# 1. yelp dataset -> get the pet store/pet services/veterinarians

In [2]:
import pandas as pd

df = pd.read_json('yelp_academic_dataset_business.json', lines=True)

In [2]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [5]:
# There is only 27 states in the dataset, and AB is in the Canada, XMS, VI is in the United Kingdom
# So 24 states data can be used
states = df["state"].unique()
states

array(['CA', 'MO', 'AZ', 'PA', 'TN', 'FL', 'IN', 'LA', 'AB', 'NV', 'ID',
       'DE', 'IL', 'NJ', 'NC', 'CO', 'WA', 'HI', 'UT', 'TX', 'MT', 'MI',
       'SD', 'XMS', 'MA', 'VI', 'VT'], dtype=object)

In [9]:
# drop the places outside the United States
df = df[df["state"] != 'AB'] # AB -> Canada: AB (Alberta)
df = df[df["state"] != 'XMS'] # XMS -> United Kingdom
df = df[df["state"] != 'VI'] # VI ->  United Kingdom
# drop the NA in categories column
df = df.dropna(subset=['categories'])
# filter the pet stores, dog parks from the categories
data = df[df["categories"].str.contains("Pet")]
# get the selected column in the dataset
data = data[["business_id", "name","categories","city","state","postal_code","stars"]]
clinics = data[data["categories"].str.contains("Veterinarians")]
pet_care = data[data["categories"].str.contains("Pet Services")]
pet_store = data[data["categories"].str.contains("Pet Stores")]

# export the Veterinarians dataset
clinics.to_csv('clinics.csv', index=False)
# export the pet_care dataset
pet_care.to_csv('pet_care.csv', index=False)
# export the pet_store dataset
pet_store.to_csv('pet_store.csv', index=False)

In [5]:
#pet_store[pet_store["postal_code"].str.startswith("53")]

# 2. dog dataset

In [3]:
df2 = pd.read_csv('allDogDescriptions.csv')

In [7]:
df2.head()

,index,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,...,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description
0,0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,...,adoptable,2019-09-20T16:37:59+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...
1,1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,...,adoptable,2019-09-20T16:24:57+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...
2,2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,...,adoptable,2019-09-20T14:10:11+0000,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...
3,3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,...,adoptable,2019-09-20T10:08:22+0000,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN
4,4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,...,adoptable,2019-09-20T06:48:30+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...

In [6]:
# Select the useful columns
df2 = df2[['id','org_id','url','breed_primary','age','sex','size','house_trained','shots_current','name','contact_city','contact_state','contact_zip','description']]
# Filter the states in the yelp dataset
df2 = df2[df2['contact_state'].isin(states)]

In [10]:
df2[df2['contact_state'] == 'FL']['contact_city'].unique()

array(['Oviedo', 'Largo', 'Orlando', 'Brooksville', 'Sanford',
       'Green Cove Springs', 'Lithia', 'Tavares', 'Saint Petersburg',
       'Maitland', 'Ocala', 'Gainesville', 'Lake Panasoffkee', 'Sarasota',
       'Winter Garden', 'Osteen', 'Winter Haven', 'Inverness',
       'Saint Cloud', 'Lakeland', 'Palmetto', 'Tarpon Springs',
       'New Smyrna Beach', 'Williston', 'St. Petersburg', 'Winter Park',
       'Grand Island', 'Wauchula', 'Bradenton', 'Clearwater', 'Dade City',
       'Bronson', 'Crescent City', 'Leesburg', 'Spring Hill', 'Riverview',
       'Tampa', 'Zephyrhills', 'Lake Mary', 'New Port Richey',
       'Groveland', 'Clermont', 'Thonotosassa', 'Jacksonville',
       'Umatilla', 'Ocoee', 'Middleburg', 'Melrose', 'Gulfport',
       'Myakka City', 'Deltona', 'Winter Springs', 'Edgewater',
       'Chiefland', 'Palm Harbor', 'St Petersburg', 'Wesley Chapel',
       'Longwood', 'Trenton', 'Odessa', 'Weeki Wachee', 'Minneola',
       'Dunnellon', 'Keystone Heights', 'Pinellas Park', 'Ormond Beach',
       'Seminole', 'Auburndale', 'St. Cloud', 'Windermere', 'Lake City',
       'Alachua', 'Seffner', 'Daytona Beach', 'Dunedin', 'Starke',
       'Plant City', 'Lake Hamilton', 'Holiday', 'Apopka', 'Terra Ceia',
       'Morriston', 'Casselberry', 'Parrish', 'Hawthorne', 'Ruskin',
       'Hollister', 'Apollo Beach', 'Elkton', 'Palm Coast', 'Avon Park',
       'Eustis', 'Bunnell', 'Port Orange', 'Land O Lakes', 'Valrico',
       'Orange Lake'], dtype=object)

In [11]:
df2

,id,org_id,url,breed_primary,age,sex,size,house_trained,shots_current,name,contact_city,contact_state,contact_zip,description
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,American Staffordshire Terrier,Senior,Male,Medium,True,True,HARLEY,Las Vegas,NV,89147,Harley is not sure how he wound up at shelter ...
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Pit Bull Terrier,Adult,Male,Large,True,True,BIGGIE,Las Vegas,NV,89147,6 year old Biggie has lost his home and really...
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Shepherd,Adult,Male,Large,False,True,Ziggy,Mesquite,NV,89027,Approx 2 years old.\n Did I catch your eye? I ...
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,German Shepherd Dog,Baby,Female,Large,False,False,Gypsy,Pahrump,NV,89048,NaN
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dachshund,Young,Male,Small,False,True,Theo,Henderson,NV,89052,Theo is a friendly dachshund mix who gets alon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57463,46030145,PA252,https://www.petfinder.com/dog/enzo-46030145/pa...,Boxer,Baby,Male,Medium,False,True,Enzo,Waynesburg,PA,15370,Enzo is a 6 month old puppy. He is very well b...
57464,46030142,PA252,https://www.petfinder.com/dog/buster-46030142/...,Mastiff,Young,Male,Extra Large,False,True,Buster,Waynesburg,PA,15370,Buster is still young and has so much energy. ...
57527,45980040,PA252,https://www.petfinder.com/dog/tony-45980040/pa...,Labrador Retriever,Young,Male,Large,False,True,Tony,Waynesburg,PA,15370,Tony is a 3 year old Lab/boxer mix. He does am...
57615,45875682,PA252,https://www.petfinder.com/dog/tina-45875682/pa...,Pit Bull Terrier,Baby,Female,Medium,False,True,Tina,Waynesburg,PA,15370,Tina is a young pit mix looking for her foreve...
57683,45786805,PA252,https://www.petfinder.com/dog/cactus-45786805/...,Pit Bull Terrier,Baby,Male,Large,False,True,Cactus,Waynesburg,PA,15370,Cactus is a 6 month old Pit terrier mix. He is...

In [11]:
# convert the dataframe to csv file
df2.to_csv('dog.csv', index=False)

In [12]:
len(df2)

29176